<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../public/styles/main.css"> <!-- /styles/main.css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/solid.css" integrity="sha384-6qO6EOFIDfvv6uzAzozX/BvMu/qkIIHxWYOVMjpVjX+NtPuNyd3YiOEflKIIV2ka" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/regular.css" integrity="sha384-GMkIgTgosuQEt2PEwBHI7MMRsrQplN2sT/7bzPOIxG+Hn37iTlZXFb37m6uE+iHj" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/brands.css" integrity="sha384-RTi1U6SIW2G3kUi5NslKQjA34F8CsQCVduJO50jqtxhR2KY++LR7KZS2886EwXrk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/fontawesome.css" integrity="sha384-Hx1dya9ptAdKu2hLNR5C2Cwgm+wCfwD0VMGE6jk5OUxxa9I58YfxOCwEtRog+3wk" crossorigin="anonymous">
  <title>Prima</title>
</head>
<body>
  <header>
    <div class="continue" id="return"><a href="./search.html"><span id="arrow">←</span>RETURN TO SEARCH</a></div>
    <div class="continue" id="profile"><a href="./profile.html">GO TO PROFILE<span id="arrow">→</span></a></div>
  </header>
  <main class="index-main">
    <section class="items">
      <ul>
        <li>
          <div class="vendor-item card" vendor-id="1">
            <div class="wrapper">
              <div class="header noselect">
                <div class="date">
                  <span class="day">Until</span>
                  <span class="day">13</span>
                  <span class="month">Mar</span>
                  <span class="year">2021</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fas fa-bookmark"></a>
                  </li>
                  <li><a href="#" class="fas fa-heart"><span>185</span></a></li>
                  <li><a href="#" class="far fa-comment"><span>31</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <span class="vendor noselect">Quest Room</span>
                  <h1 class="title noselect"><a href="#">20% discount on the first quest</a></h1>
                  <p class="text noselect">Quest Room - the leader of the quest making buisness. Here you cand find some bla bla bla and even more bla</p>
                  <a href="#" class="promocode button">
                    <i class="far fa-eye"></i>
                    <span class="code">✱✱✱✱✱✱✱✱</span>
                    <span class="custom-tooltip">copied to clipboard</sapn>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="vendor-item card" vendor-id="1">
            <div class="wrapper">
              <div class="header noselect">
                <div class="date">
                  <span class="day">Until</span>
                  <span class="day">12</span>
                  <span class="month">Aug</span>
                  <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fas fa-bookmark"></a>
                  </li>
                  <li><a href="#" class="fas fa-heart"><span>185</span></a></li>
                  <li><a href="#" class="far fa-comment"><span>31</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <span class="vendor noselect">Quest Room</span>
                  <h1 class="title noselect"><a href="#">20% discount on the first quest</a></h1>
                  <p class="text noselect">Quest Room - the leader of the quest making buisness. Here you cand find some bla bla bla and even more bla</p>
                  <a href="#" class="promocode button">
                    <i class="far fa-eye"></i>
                    <span class="code" opened=false>✱✱✱✱✱✱✱✱</span>
                    <span class="custom-tooltip">copied to clipboard</sapn>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>

                <li>
          <div class="vendor-item card" vendor-id="1">
            <div class="wrapper">
              <div class="header noselect">
                <div class="date">
                  <span class="day">Until</span>
                  <span class="day">12</span>
                  <span class="month">Aug</span>
                  <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fas fa-bookmark"></a>
                  </li>
                  <li><a href="#" class="fas fa-heart"><span>185</span></a></li>
                  <li><a href="#" class="far fa-comment"><span>31</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <span class="vendor noselect">Quest Room</span>
                  <h1 class="title noselect"><a href="#">20% discount on the first quest</a></h1>
                  <p class="text noselect">Quest Room - the leader of the quest making buisness. Here you cand find some bla bla bla and even more bla</p>
                  <a href="#" class="promocode button">
                    <i class="far fa-eye"></i>
                    <span class="code" opened=false>✱✱✱✱✱✱✱✱</span>
                    <span class="custom-tooltip">copied to clipboard</sapn>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="vendor-item card" vendor-id="1">
            <div class="wrapper">
              <div class="header noselect">
                <div class="date">
                  <span class="day">Until</span>
                  <span class="day">12</span>
                  <span class="month">Aug</span>
                  <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fas fa-bookmark"></a>
                  </li>
                  <li><a href="#" class="fas fa-heart"><span>185</span></a></li>
                  <li><a href="#" class="far fa-comment"><span>31</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <span class="vendor noselect">Quest Room</span>
                  <h1 class="title noselect"><a href="#">20% discount on the first quest</a></h1>
                  <p class="text noselect">Quest Room - the leader of the quest making buisness. Here you cand find some bla bla bla and even more bla</p>
                  <a href="#" class="promocode button">
                    <i class="far fa-eye"></i>
                    <span class="code" opened=false>✱✱✱✱✱✱✱✱</span>
                    <span class="custom-tooltip">copied to clipboard</sapn>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="vendor-item card" vendor-id="1">
            <div class="wrapper">
              <div class="header noselect">
                <div class="date">
                  <span class="day">Until</span>
                  <span class="day">12</span>
                  <span class="month">Mar</span>
                  <span class="year">2021</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fas fa-bookmark"></a>
                  </li>
                  <li><a href="#" class="fas fa-heart"><span>185</span></a></li>
                  <li><a href="#" class="far fa-comment"><span>31</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <span class="vendor noselect">Quest Room</span>
                  <h1 class="title noselect"><a href="#">20% discount on the first quest</a></h1>
                  <p class="text noselect">Quest Room - the leader of the quest making buisness. Here you cand find some bla bla bla and even more bla</p>
                  <a href="#" class="promocode button">
                    <i class="far fa-eye"></i>
                    <span class="code" opened=false>✱✱✱✱✱✱✱✱</span>
                    <span class="custom-tooltip">copied to clipboard</sapn>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </main>
  <footer>

  </footer>
  <script src="../public/scripts/main.js"></script>
</body>
</html>