.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  display: flex;
  /* background: linear-gradient(45deg, #57003f 0%,#f57453 100%) center/cover no-repeat; */
  background-color: #EAFDF8;
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}

console-container {
  display: block;
  position: relative;

  float: left;
  flex-grow: 1;
  height: 90vh;

  max-width: 45vw;

  margin: auto;
  padding: 2em;
}

render-container {
  display: none;
  position: relative;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;

  float: right;
  flex-grow: 1;

  height: 90vh;
  max-width: 55vw;

  margin: auto;
  padding: 2em;
}

@media (max-width: 700px) {
  console-container {
    width: 96vw;
    height: 96vh;
    margin: 2vw;
    top: 0;
    transform: none;
  }

  render-container {
    width: 96vw;
    height: 96vh;
    margin: 2vw;
    top: 0;
    transform: none;
  }
}
