* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.tag {
  position: absolute;
  display: inline-block;
  font-weight: 100;
  color:whitesmoke;
  vertical-align: middle;
  line-height: 1.5rem;
  width: auto;
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 15px;
}

.tag:not(.removable):hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tag[used] {
  color: #555555;
  border-color: #555555 !important;
}

.tag.removable a {
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1.4rem;
  vertical-align: middle;
}